DB_URL=
DB_USERNAME=
DB_PASSWORD=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
RABBITMQ_HOST=
RABBITMQ_AMQP_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RULE_ENGINE_RABBITMQ_ENABLED=
RULE_ENGINE_SENSOR_EVENT_QUEUE=
RULE_ENGINE_SENSOR_EVENT_EXCHANGE=
RULE_ENGINE_SENSOR_EVENT_ROUTING_KEY=#
RULE_ENGINE_TEST_CONTROLLER_ENABLED=